################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Switch/v16/Server/sqlite3
/.vs/Switch/v15
